<table>
  <tr>
    <th></th>
    <th>Hits</th>
    <th>Visits</th>
    <th>Visitors</th>
  </tr>
  <tr>
    <td>Total</td>
    <td><%= @total_hits %></td>
    <td><%= @total_visits %></td>
    <td><%= @total_visitors %></td>
  </tr>
  <tr>
    <td>p/s</td>
    <td><%= number_with_delimiter((((@total_hits.to_f/@hits.length.to_f)/60)/60).round(2)) %></td>
    <td><%= number_with_delimiter((((@total_visits.to_f/@hits.length.to_f)/60)/60).round(2)) %></td>
    <td><%= number_with_delimiter((((@total_visitors.to_f/@hits.length.to_f)/60)/60).round(2)) %></td>
  </tr>
  <tr>
    <td>p/m</td>
    <td><%= number_with_delimiter(((@total_hits.to_f/@hits.length.to_f)/60).round(2)) %></td>
    <td><%= number_with_delimiter(((@total_visits.to_f/@hits.length.to_f)/60).round(2)) %></td>
    <td><%= number_with_delimiter(((@total_visitors.to_f/@hits.length.to_f)/60).round(2)) %></td>
  </tr>
  <tr>
    <td>p/h</td>
    <td><%= number_with_delimiter((@total_hits.to_f/@hits.length.to_f).round(2)) %></td>
    <td><%= number_with_delimiter((@total_visits.to_f/@hits.length.to_f).round(2)) %></td>
    <td><%= number_with_delimiter((@total_visitors.to_f/@hits.length.to_f).round(2)) %></td>
  </tr>
</table>
