<table>
  <tr>
    <th><%= sort_control("City", "city asc") %></th>
    <th><%= sort_control("Page Views", "page_views desc") %></th>
    <th><%= sort_control("Visits", "visits desc") %></th>
    <th><%= sort_control("Visitors", "visitors desc") %></th>
  </tr>
  <% @page_views.each do |page_view| %>
    <tr>
      <td><%= link_to page_view.city, params.merge(:action => :set_city, :city => page_view.city) %></td>
      <td><%= page_view.page_views %></td>
      <td><%= page_view.visits %></td>
      <td><%= page_view.visitors %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @page_views %>
