<table>
  <tr>
    <th>URL</th>
    <th>Hits</th>
    <th>Visits</th>
    <th>Visitors</th>
    
  </tr>
  <% @hits.each do |hit| %>
    <tr>
      <td><%=link_to hit.url || "", params.merge(:action => :set_url, :url => hit.url) %></td>
      <td><%= hit.hits %></td>
      <td><%= hit.visits %></td>
      <td><%= hit.visitors %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @hits %>
