<table>
  <tr>
    <th><%= sort_control("URL", "url asc") %></th>
    <th><%= sort_control("Hits", "hits desc") %></th>
    <th><%= sort_control("Visits", "visits desc") %></th>
    <th><%= sort_control("Visitors", "visitors desc") %></th>
  </tr>
  <% @hits.each do |hit| %>
    <tr>
      <td><%=link_to hit.url || "", params.merge(:action => :set_url, :url => hit.url) %></td>
      <td><%= hit.hits %></td>
      <td><%= hit.visits %></td>
      <td><%= hit.visitors %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @hits %>
