<table>
  <tr>
    <th><%= sort_control("Domain", "domain asc") %></th>
    <th><%= sort_control("Hits", "hits desc") %></th>
    <th><%= sort_control("Visits", "visits desc") %></th>
    <th><%= sort_control("Visitors", "visitors desc") %></th>
  </tr>
  <% @hits.each do |hit| %>
    <tr>
      <td><%=link_to hit.domain || "", params.merge(:action => :set_domain, :domain => hit.domain, :page => nil) %></td>
      <td><%= hit.hits %></td>
      <td><%= hit.visits %></td>
      <td><%= hit.visitors %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @hits %>
