<p>
  <div style="float:right">
    <% a = params.merge(:action => "search") %>
    <% a.delete(:time_span) %>
    <% form_tag(a) do %>
      <%= select_tag :time_span, options_for_select(time_spans, params[:time_span]), :onchange => "this.form.submit()" %>
    <% end %>
  </div>
    
  <div style="float:right">
    <% b = params.merge(:action => "search") %>
    <% b.delete(:domain) %>
    <% form_tag(b) do %>
      <%= select_tag :domain, options_for_select(@domain_list, params[:domain]), :onchange => "this.form.submit()" %>
    <% end %>
  </div>  
  
  <center>
    <%= [format_datetime(params[:start_time]), format_datetime(params[:end_time])] * " - " %>
  </center>
        
  <% if (params.keys - %w{start_time end_time period controller action commit labelStep strftime time_span order page}).length != 0 %>
    <b>Filters:</b>
  
    <ul>
      <% params.keys.each do |key| %>
        <% next if %w{start_time end_time period controller action commit labelStep strftime time_span order page}.include?(key) %>
        <li>
          <%= link_to "#{key} = #{params[key]}", params.merge(:controller => params[:controller], :action => params[:action], key => nil) %>
        </li>
      <% end %>
    </ul>
    <%= link_to("[CLEAR FILTERS]", :action => "index") %>
  <% end %>
</p>

